﻿@font-face {
    font-family: 'fontBYekan';
    src : url('../fonts/BYekan.woff') format('woff');
}
@font-face {
    font-family: 'fontYekanWeb-Regular';
    src : url('../fonts/YekanWeb-Regular.woff') format('woff');
}
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}



body {
    color: #444;
    background: #f5f5f5;
    font-family: 'fontYekanWeb-Regular';
    direction: rtl;
}


li {
    list-style: none;
}
:focus {
    outline: 0;
}
.clear{
    clear: both;
}

a {
    text-decoration: none;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    color: #ADADAD !important;
}
hr{
    color: #fff113;
}

body{
    /*background-color: #000 !important;*/
}

p{
    font: 12px fontYekanWeb-Regular;
}


/**
 * header section
 */




.menubox{
    float: right;
    margin-right: 3%;
    margin-top: 1px;
}

.wrap {
    width:100%;
    max-width:1000px;
    margin:0 auto;
}


.menu ul > li {
    width: 100px;
    height: 100px;
    /*background: #000;*/
    float: right;
}

.menu ul > li:hover {
    /*background: #38ada9;*/
    background-image: linear-gradient(360deg,#f5f5f5, #38ada9);

    border-radius: 5px;
    transition: height 1s;
}

.menu ul > li > a {
    text-decoration: none;
    width: 100px;
    height: 40px;
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 0;
    color: #2b542c !important;
    font: 16px fontYekanWeb-Regular;
}
.menu ul > li > a:hover {
    color: #FDFDFD !important;
}

.menuspace{
    margin-right: 20px;
}

.menuicons{
    margin-top: 5px;
}

.menuicons:hover{
    color: #5dd8c6;
}

/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
    .menu {
        width:100%;
        /*height: 100%;*/
        box-shadow:0 1px 1px #38ada9;
        border-radius:3px;
    }

    .menu ul > li {
        margin-right: 0;
    }


}


.menu li:last-child {
    margin-right:0;
}



/*----- Menu Responsive -----*/
@media screen and (max-width: 1300px) {
    .wrap {
        width:90%;
        /*height: 100%;*/
    }
}


@media screen and (max-width: 1310px) {
    .menu {
        position:relative;
        display:inline-block;
        direction: rtl;
        transition: bottom 1s;
        margin: 5px;
        /*width: 100%;*/
        /*height: 100%;*/
    }

    .menu ul.active {
        display:none;
    }


    .menu ul > li {
        height: 60px;
    }
    .menuicons{
        display: none;
    }


    .menu ul {
        z-index: 10;
        width:auto;
        height: auto;
        position:absolute;
        top:120%;
        padding:10px 10px;
        box-shadow:0px 1px 1px #5dd8c6;
        border-radius:3px;
        border: 1px solid #303030;
        background-color: #5dd8c6;
    }

    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        right:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }

    .menu li {
        margin:0;
        float:right;
        display:block;
    }

    .menu a {
        display:block;
    }

    .toggle-nav {
        margin: 0 10px 0 0;
        padding:1px 10px 3px 10px;
        display:inline-block;
        border-radius:3px;
        background:#38ada9;
        color:#66a992;
        font-size:25px;
        transition:color linear 0.25s;
    }

    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }

}

/*----- Menu fixed -----*/


.topfix {
    width: 100%;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid #66a992;
    z-index: 1000;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    animation: fadein 1s;
}

.alladspng{
    height: 340px;
    position: fixed;
    bottom: -200px;
    width: 30%;
    margin-left: 50%;
    margin-right: 50%;
}


.alladspng:hover{
    bottom: 0px;
    transition: bottom 1s;
}




.logobox{
    width: 220px;
    float: left;
    height: 100px;
    margin-left: 70px;
}

.logobox img{
    width: 100%;
    height: 100%;
}


.topeleman{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(270deg,#f5f5f5, #5dd8c6);
    /*box-shadow: 10px #20895e;*/
    padding: 30px 30px 30px 30px;
    border-bottom-left-radius: 100% 35%;

}

.pardispic{
    width: 50%;
    height: 150px;
    /*background: blue;*/
    margin-right: 150px;
    margin-top: -78px;
    float: right;
}

.pardispic img{
    width: 400px;
    height: 100%;
}

.maineleman{
    width: 100%;
    height: auto;
    /*background: green;*/
    /*padding: 30px 30px 30px 30px;*/
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
}

.bottomeleman{
    width: 100%;
    direction: rtl;
    height: 400px;
    /*background: blue;*/
    padding: 5px 30px 30px 30px;
    background-image: linear-gradient(180deg,#f5f5f5, #5dd8c6);
    /*border-bottom-left-radius: 100% 35%;*/
}

.mainpage{
    width: 100%;
    height: 100%;
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    /*background: yellow;*/
    /*float: left;*/
}

.ppbox{
    width: 100%;
    height: 500px;
    /*background: #0c7cd5;*/
}

.line1pi{
    width: 50%;
    height: 450px;
    float: left;
    padding-top: 50px;
}
.line1pi img{
    width: 100%;
    height: 100%;
    margin-top: -50px;
    padding-left: 100px;
    padding-right: 100px;
}

.line1pa{
    width: 50%;
    height: 450px;
    float: right;
    padding-top: 50px;
}

.p{
    /*text-align: center;*/
    color: #20895e;
    font: 14px fontYekanWeb-Regular;
    /*padding: 100px 100px 100px 100px;*/
}


.line2pi{
    width: 50%;
    height: 450px;
    float: right;
    padding-top: 50px;
}
.line2pi img{
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.line2pa{
    width: 50%;
    height: 450px;
    float: left;
    padding-top: 50px;
}

/*footer*/
.footermenubox{
    width: 30%;
    height: 350px;
    /*background: red;*/
    float: right;


}

.footercontactusbox{
    width: 30%;
    height: 350px;
    float: right;
    /*background: yellow;*/
}

.footeraboutusbox{
    width: 40%;
    height: 350px;
    /*background: green;*/
    float: left;
}



.footermenubox p{
    color: #66a992;
    margin-bottom: 20px;
    font: fontYekanWeb-Regular;

}

.footermenubox li{
    color: #66a992;
    margin-top: 8px;
    font: 14px fontYekanWeb-Regular;

}
.footermenubox a{
    color:#66a992;
}

.footercontactusbox p{
    color: #66a992;
    margin-bottom: 20px;
    font: fontYekanWeb-Regular;
}

.footercontactusbox li{
    color: #66a992;
    margin-top: 8px;
    font: 14px fontYekanWeb-Regular;

}
.footercontactusbox a{
    color:#66a992;
    float: left;
    position: relative;
    margin-left:  40px;
}



.iconbox{
    margin-left: 50px;
}





.footeraboutusbox p{
    color: #66a992;
    margin-bottom: 20px;
}


.filterbox{
    width: 100%;
    height: 500px;
    /*background: #66a992;*/
    background-image: linear-gradient(360deg,#f5f5f5, #20895e);
    /*box-shadow: 10px #20895e;*/
    padding: 30px 30px 30px 30px;
    border-top-right-radius: 100% 35%;
    /*opacity: 0.7;*/
}

.resultbox{
    width: 100%;
    height: 2200px;
    background-image: linear-gradient(180deg,#f5f5f5, #20895e);
    /*box-shadow: 10px #20895e;*/
    padding: 30px 30px 30px 30px;
    border-bottom-left-radius: 50% 20%;
}


.filterelemanbox{
    margin-top: 30px;
    /*z-index: 100;*/
    height: 40px;
    width: 30%;
    margin-right: 40px;
    float: right;
    /*background: yellow;*/
    /*width: 50%;*/
}

.filterelemanboxelemans{
    margin-top: 30px;
    /*z-index: 100;*/
    height: 40px;
    width: 60%;
    margin-right: 40px;
    float: right;
    /*background: yellow;*/
    /*width: 50%;*/
}

.labeltitle{
    font: 14px fontYekanWeb-Regular;
    color: #20895e;
    float: right;
    width: 15%;
}

.checkboxitems{
    width: 15%;
    /*cursor: grab;*/
    /*margin-top: 5px;*/
    height: 30px;
    padding-top: 5px;
    /*background: red;*/
    display: inline-block;
    /*float: right;*/
}

.labeltitle50{
    font: 14px fontYekanWeb-Regular;
    color: #20895e;
    margin-left: 1%;
    float: right;
}

.filterselect{
    width: 70%;
    float: right;
    color: #20895e;
    border: none;
    background: #f5f5f5;
    border-radius: 5px;
    border-top-left-radius: 15px;
    /*border-top-right-radius: 10px;*/
}


.filterselect50{
    width: 30%;
    border: none;
    float: right;
    color: #20895e;
    background: #f5f5f5;
    border-radius: 5px;
}

.filterbutton{
    width: 100%;
    height: 38px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #f5f5f5;
    background: #5dd8c6;
    border-radius: 10px;
    border: none;
}

.filterbutton:hover{
    color: #444444;
    background: #f5f5f5;
}

.filterbutton:active{
    color: #f5f5f5;
    background: #20895e;
}

.show-dialogbtn {
    /*position: fixed;*/
    right: 1px;
    z-index: 10;
    width: 150px;
    height: 60px;
    background: #2b542c;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-top-left-radius: 70px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 0px;
    /*position: fixed;*/
    position: absolute;
}

.show-dialogbtn:hover {
    width: 165px;
    transition: width 0.5s;
    box-shadow: #66afe9;
}

.show-dialogbtn p{
    margin-right: 10px;
    margin-top: 5px;
    font: 14px fontYekanWeb-Regular;
}

.estatebox{
    height: 460px;
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    animation-iteration-count: infinite;
    margin-top: 20px;
    /*border: #20895e 2px solid;*/
    background-image: linear-gradient(360deg,#f5f5f5, #d5d5d5);
    border-radius: 20px;
}

.estatebox:hover{
    opacity: 0.8;
    box-shadow: #74787e;
}

.estatebox p{
    color: #20895e;
    font: 14px fontYekanWeb-Regular;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: bold;
    margin-top: 5px;
}
.estatebox img{
    width: 100%;
    height: 200px;
    margin-top: 5px;
}








#myAnimation {
    position: absolute;
}












.sliderbox{
    width: 60%;
    height: 500px;
    /*background: red;*/
    float: left;
    padding: 30px;

}

.propertiesbox{
    width: 40%;
    height: 500px;
    /*background: blue;*/
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

.descriptionbox{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    /*background: black;*/
}

.descriptionboxleft{
    width: 70%;
    /*background: red;*/
    float: left;
    height: auto;
}

.descriptionboxright{
    width: 30%;
    /*background: blue;*/
    float: right;
    height: 100%;
}

.descriptionbox p{
    color: #20895e;
    font: 14px fontYekanWeb-Regular;
    font-size: 16px;
    margin-right: 10px;
}



.propertiesboxelemans{
    width: 100%;
    height: 20px;
}

.propertiesboxelemans p{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 1px;
    color: #20895e;
    font: 15px fontYekanWeb-Regular;
}

.propertiesboxelemans hr{
    margin-right: 10%;
    margin-left: 10%;
    color: #20895e;
    font: 14px fontYekanWeb-Regular;
}


.mapbox{
    width: 100%;
    height: 400px;
    /*background: red;*/
}

.contentbox{
    width: 100%;
    height: 400px;
    margin-top: 30px;

}

.formbox{
    width: 65%;
    float: right;
    height: 100%;
    /*background: green;*/
}

.formboxtop{
    width: 100%;
    height: 100px;
}

.formbox input{
    width: 80%;
    height: 25px;
    margin: 10px 10px 10px 10px;
    background: #d5d5d5;
    padding: 8px 10px 8px 70px;
    border: 1px solid #d5d5d5;
    color: #20895e;
    direction: rtl;
    text-align: right;
    font: 13px fontYekanWeb-Regular;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.formbox textarea{
    width: 80%;
    height: 100px;
    margin: 10px 10px 10px 10px;
    background: #d5d5d5;
    padding: 8px 10px 8px 70px;
    border: 1px solid #d5d5d5;
    color: #20895e;
    direction: rtl;
    text-align: right;
    font: 13px fontYekanWeb-Regular;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}


.formbox button {
    margin: 10px 10px 10px 10px;
    width: 80%;
    padding: 6px 15px 6px 15px;
    background-color: #66afe9;
    border: 1px solid #FDFDFD;
    color: #FDFDFD;
    direction: rtl;
    font: 13px fontYekanWeb-Regular;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.formbox button:hover {
    margin: 10px 10px 10px 10px;
    width: 80%;
    border: 1px solid #0a68b4;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.formbox button:focus {
    margin: 10px 10px 10px 10px;
    width: 80%;
    font: 11px fontYekanWeb-Regular;
    border: 1px solid #0a68b4;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.addressbox{
    width: 35%;
    float: left;
    height: 100%;
    /*background: red;*/
}

.addressboxtop{
    width: 100%;
    height: 70%;
    /*background: blue;*/
}

.addressboxbottom{
    width: 100%;
    height: 30%;
    /*background: yellow;*/
}

.contactcrossright{
    width: 30%;
    height: 30px;
    /*background: green;*/
    float: right;
}

.contactcrossleft{
    width: 70%;
    height: 30px;
    /*background: yellow;*/
    float: left;
}

.namebox{
    width: 30%;
    height: 150px;
    background: #74787e;
    opacity: 0.6;
    float: right;
    margin-top: -180px;
    margin-right: 80px;
    z-index: 5;
}

@media screen and (max-width: 1300px) {
    .filterelemanbox{
        width: 100%;
    }

    .filterelemanboxelemans{
        width: 100%;
        float: right;
        height: 100px;
    }
}


@media screen and (max-width: 1100px) {

    .ppbox{
        height: auto;
    }

    .line1pi{
        width: 100%;
        height: auto;
    }

    .line1pa{
        width: 100%;
        height: auto;
    }

    .line2pi{
        width: 100%;
        height: auto;
    }

    .line2pa{
        width: 100%;
        height: auto;
    }

    .pardispic{
        width: 50%;
        height: 216px;
        /*background: blue;*/
        margin-left: 30px;
        float: left;
    }

    .pardispic img{
        width: 250px;
        height: 50%;
        float: left;
    }

    .logobox{
        /*width: 150px;*/
        float: left;
        height: 80px;
        margin-left: 30px;

    }

    .logobox img{
        width: 100%;
        height: 100%;
    }

    /*footer*/
    .bottomeleman{
        /*margin-top: 50px;*/
        height: 800px;
    }
    .footermenubox{
        width: 50%;
    }

    .footercontactusbox{
        width: 50%;
    }

    .footeraboutusbox{
        width: 100%;
        margin-top: 50px;
    }

    /*.p{*/
    /*    padding: 100px 30px 100px 30px;*/
    /*}*/

    .filterelemanbox{
        width: 100%;

    }

    .estatebox{
        width: 100%;
    }

    .descriptionboxleft{
        width: 100%;
    }

    .descriptionboxright{
        width: 100%;
    }

    .formbox{
        width: 100%;
    }

    .addressbox{
        width: 100%;
    }

    .formboxtop{
        width: 100%;
    }

    .sliderbox{
        width: 100%;
    }

    .propertiesbox{
        width: 100%;
    }

    .namebox{
        height: auto;
    }

    .filterbox{
        height: 1000px;
    }

    .resultbox{
        height: 6000px;
    }

    .checkboxitems{
        width: 40%;
        float: left;
    }



}

/*@media screen and (max-width: 1300px) {*/
/*    .filterelemanbox{*/
/*        width: 50%;*/
/*    }*/
/*}*/






