@font-face {
    font-family: 'Yekan';
    src: url('fonts/WebYekan.eot');
    src: url('fonts/WebYekan.eot?#iefix') format('embedded-opentype'),
    url('fonts/WebYekan.woff') format('woff'),
    url('fonts/WebYekan.ttf') format('truetype'),
    url('fonts/WebYekan.svg#WebYekan') format('svg');
}

html {
    font-family: 'Yekan';
}

body {
    font-family: 'Yekan';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Yekan';
}

input, select, button, textarea {
    font-family: 'Yekan';
}

code,
kbd,
pre,
samp,
tt,
var {
    font-family: 'Yekan';
}

blockquote {
    font-family: 'Yekan';
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    font-family: 'Yekan';
}

.post-navigation a,
.posts-navigation a {
    font-family: 'Yekan';
}

.comment-meta .url,
.comment-meta .fn {
    font-family: 'Yekan';
}

.btn {
    font-family: 'Yekan';
}

#about-me span {
    font-family: 'Yekan';
}

.more-link {
    font-family: 'Yekan';
}

.header-font-1 h1,
.header-font-1 h2,
.header-font-1 h3,
.header-font-1 h4,
.header-font-1 h5,
.header-font-1 h6,
.header-font-1 .site-title a,
.header-font-1 .site-description,
.header-font-1 #secondary a,
.header-font-1 .more-link,
.header-font-1 .woocommerce-MyAccount-navigation ul li a,
.header-font-1 .site-info,
.header-font-1 #secondary .food_restro_pro_contact_info li,
.header-font-1 .post-navigation a,
.header-font-1 .posts-navigation a,
.header-font-1 #about-me span,
.header-font-1 .btn {
    font-family: 'Yekan';
}

.header-font-2 h1,
.header-font-2 h2,
.header-font-2 h3,
.header-font-2 h4,
.header-font-2 h5,
.header-font-2 h6,
.header-font-2 .site-title a,
.header-font-2 .site-description,
.header-font-2 #secondary a,
.header-font-2 .more-link,
.header-font-2 .post-navigation a,
.header-font-2 .posts-navigation a,
.header-font-2 #about-me span,
.header-font-2 .btn {
    font-family: 'Yekan';
}

.header-font-3 h1,
.header-font-3 h2,
.header-font-3 h3,
.header-font-3 h4,
.header-font-3 h5,
.header-font-3 h6,
.header-font-3 .site-title a,
.header-font-3 .site-description,
.header-font-3 #secondary a,
.header-font-3 .more-link,
.header-font-3 .post-navigation a,
.header-font-3 .posts-navigation a,
.header-font-3 #about-me span,
.header-font-3 .btn {
    font-family: 'Yekan';
}

.header-font-4 h1,
.header-font-4 h2,
.header-font-4 h3,
.header-font-4 h4,
.header-font-4 h5,
.header-font-4 h6,
.header-font-4 .site-title a,
.header-font-4 .site-description,
.header-font-4 #secondary a,
.header-font-4 .more-link,
.header-font-4 .post-navigation a,
.header-font-4 .posts-navigation a,
.header-font-4 #about-me span,
.header-font-4 .btn {
    font-family: 'Yekan';
}

.header-font-5 h1,
.header-font-5 h2,
.header-font-5 h3,
.header-font-5 h4,
.header-font-5 h5,
.header-font-5 h6,
.header-font-5 .site-title a,
.header-font-5 .site-description,
.header-font-5 #secondary a,
.header-font-5 .more-link,
.header-font-5 .post-navigation a,
.header-font-5 .posts-navigation a,
.header-font-5 #about-me span,
.header-font-5 .btn {
    font-family: 'Yekan';
}

.body-font-1 {
    font-family: 'Yekan';
}

.body-font-2 {
    font-family: 'Yekan';
}

.body-font-3 {
    font-family: 'Yekan';
}

.body-font-4 {
    font-family: 'Yekan';
}

.body-font-5 {
    font-family: 'Yekan';
}

.site-branding {
    text-align: right;
}

.col-3 .hentry {
    float: right;
}

#search {
    left: 0;
    right: auto;
}

.secondary-navigation ul li:hover > ul, .secondary-navigation ul li.focus > ul {
    right: auto;
    left: 0;
}

ul.sub-menu li {
    text-align: right;
}

#photography article.has-post-thumbnail .entry-container {
    float: left;
}

#photography article.has-post-thumbnail .featured-image {
    right: 0;
    left: auto;
}

.header-wrapper .section-header {
    float: right;
    text-align: right;
}

.right-sidebar #primary, .left-sidebar #primary {
    float: right;
    padding-left: 30px;
    padding-right: auto;
}

#secondary .widget-title, #secondary .widgettitle {
    text-align: right;
}

.widget_search form.search-form .search-submit {
    right: auto;
    left: 0;
}

.widget_search form.search-form input {
    padding: 0 15px 0 100px;
}

input[type="submit"] {
    font-size: 19px;
    padding: 15px;
    border-radius: 5px;
}

#commentform p.form-submit {
    text-align: right;
}

.comment-meta img {
    float: right;
    margin-left: 20px;
    margin-right: auto;
}

.comment-meta .url, .comment-meta .fn {
    float: right;
    margin-left: 5px;
    margin-right: auto;
}

.widget.widget_archive li a {
    float: right;
}

.footer-widgets-area.col-2 .hentry, .footer-widgets-area.col-4 .hentry {
    float: right;
}

.footer-widgets-area.col-2 .hentry:nth-child(odd), .footer-widgets-area.col-4 .hentry:nth-child(odd) {
    padding-left: 40px;
    padding-right: auto;
}

.footer-widgets-area.col-4 .hentry {
    padding-left: 40px;
    padding-right: auto;
}

@media screen and (max-width: 1023px) {
    .menu-toggle {
        left: 0;
        right: auto;
    }

    .menu-toggle, .primary-menu-toggle {
        float: left;
    }

    .main-navigation ul.nav-menu, .secondary-navigation ul.nav-menu {
        right: auto;
        left: 0;
    }

    .main-navigation li, .secondary-navigation li {
        text-align: right;
    }

    .main-navigation svg.icon-down, .secondary-navigation svg.icon-down {
        margin-right: 5px;
        margin-left: auto;
    }

    button.dropdown-toggle {
        left: 0;
        right: auto;
    }

    .main-navigation .item-has-children > a:before, .secondary-navigation .menu-item-has-children > a:before {
        float: left;
        left: 25px;
        right: auto;
    }
}