/*
Theme Name: Blog Page
Theme URI: https://themepalace.com/downloads/blog-page
Author: Theme Palace
Author URI: https://themepalace.com
Description: Blog Page is a material design WordPress theme for bloggers. The theme is a perfect fit for all kind of blogs such as food blogs, travel journals, personal blogs many more. Blog Page is a fully responsive design that always remains mobile-friendly and will render perfectly on all devices. If you want to create awesome-looking content quickly. The theme is beautifully crafted, clean, easy to use, responsive, features different layouts with sidebar position and allows unlimited color selection.
Version: 1.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: blog-page
Tags: translation-ready, custom-background, theme-options, custom-menu, threaded-comments, featured-images, footer-widgets, left-sidebar, editor-style, right-sidebar, full-width-template, two-columns, three-columns, grid-layout, custom-colors, custom-header, custom-logo, featured-image-header, blog, portfolio, entertainment

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Blog Page is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Preloader
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Layouts and Titles
# Media
	## Captions
	## Galleries
# Social Icons
# Breadcrumb List
# Post Archives
# Footer
# Responsive

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#loader {
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    background-color: #fff;
    position: fixed;
    display: table;
    width: 100%;
    top: 0;
    height: 100%;
    min-height: 100%;
    z-index: 9999;
}

.loader-container {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 12;
	text-align:center;
	text-transform: uppercase;
}

#preloader {
	position:relative;
	margin:auto;
	width:100px;
}

#preloader span {
	display:block;
	bottom:0px;
	width: 9px;
	height: 5px;
	background:#fff;
	position:absolute;
	animation: preloader 1.5s  infinite ease-in-out;
}
 
#preloader span:nth-child(2) {
	left:11px;
	animation-delay: .2s;
}
#preloader span:nth-child(3) {
	left:22px;
	animation-delay: .4s;
}
#preloader span:nth-child(4) {
	left:33px;
	animation-delay: .6s;
}
#preloader span:nth-child(5) {
	left:44px;
	animation-delay: .8s;
}

@keyframes preloader {
    0% {height:5px;transform:translateY(0px);background: #117eff;}
    25% {height:30px;transform:translateY(15px);background: #117eff;}
    50% {height:5px;transform:translateY(0px);background: #117eff;}
    100% {height:5px;transform:translateY(0px);background: #117eff;}
}
.blog-loader {
    text-align: center;
    margin-top: 50px;
}
.blog-loader svg {
    width: 30px;
    height: 30px;
}
#LBloadmore svg.latest-posts-loader,
.blog-loader svg {
    margin-left: 15px;
    animation: infinitepreloader 1.5s  infinite ease-in-out;
}
@keyframes infinitepreloader {
	100%{transform: rotate(180deg);}
}

.backtotop {
    background-color: #ff696a;
    z-index: 300;
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    bottom: -100px;
    right: 25px;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    color: #fff;
}
.backtotop:hover {
	background-color: #333;
}
.backtotop svg {
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
}

@-webkit-keyframes colorchange {
	0%   {border-color: #e30048;}
	25%  {border-color: #117eff;}
	50%  {border-color: #9acf0b;}
	75%  {border-color: #a93d7b;}
	100% {border-color: #f1ad02;}
}

@keyframes colorchange {
	0%   {border-color: #e30048;}
	25%  {border-color: #117eff;}
	50%  {border-color: #9acf0b;}
	75%  {border-color: #a93d7b;}
	100% {border-color: #f1ad02;}
}
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
    overflow-x: hidden;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 15px #aaa;

}

.boxed-layout,
.frame-layout {
    background-image: url('assets/uploads/pattern.png');
}

.boxed-layout #page,
.frame-layout #page {
    background-color: #fff;
}

#content {
    position: relative;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
    color: #7b7b7b;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #322d2d;
	margin: 16px 0;
	line-height: 1.3;
	font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

mark {
	background: #ff0;
	color: #333;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
tbody {
    text-align: left;
}
tr {
    border: 1px solid #ccc;
}
td,
th {
	padding: 10px 25px;
    font-weight: 400;
}

th {
	color: #333;
}

td#next {
    text-align: right;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #7b7b7b;
	font-size: 16px;
	font-size: 1rem;
	line-height: 26px;
    word-wrap: break-word;
}
p {
	margin: 0 0 1em;
	color: #7b7b7b;
}
dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #fff;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}
blockquote {
    padding: 21px 25px;
    margin: 30px 0;
    font-size: 22px;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
blockquote p {
	color: #333;
	font-weight: 600;
    text-align: center;
}
blockquote.alignright {
    padding-right: 0;
    margin-bottom: 14px;
}
blockquote p:before,
blockquote p:after {
    content: "“";
    display: inline-block;
}
blockquote p:after {
    content: "”";
}
blockquote p {
    margin: 0;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
    padding-left: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0.5em;
}

dt {
	font-weight: bold;
    margin-bottom: 1em;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
	outline: none;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
    display: inline-block;
    overflow: auto;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #e0e0e0;
	border-radius: 0;
	padding: 3px;
    font-family: 'Raleway', sans-serif;
}

select {
	border: 1px solid #e0e0e0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

textarea,
#respond input,
.wpcf7 input {
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 0;
    outline: none;
    padding: 0 15px;
}
#respond input {
	border: none;
}
#respond textarea {
    height: 200px;
    padding: 15px;
    border: none;
    background-color: #efefef;
    border-radius: 0;
}
#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"] {
    background-color: #efefef;
    border-radius: 0;
    min-height: 50px;
}
#respond input[type="submit"] {
    padding: 3px 3px;
    font-size: 16px;
    line-height: 35px;
    display: inline-block;
    border-radius: 25px;
    width: 153px;
    margin-left: auto;
    margin-right: auto;
    background-color: #322d2d;
    color: #fff;
    border: none;
    position: relative;
    text-align: center;
    font-weight: 600;
    border-radius: 0;
    text-transform: uppercase;
}
#respond input[type="submit"]:hover,
#respond input[type="submit"]:focus {
	background-color: #ff696a;
    color: #fff;
}
p.form-submit {
    clear: both;
    display: inline-block;
    position: relative;
}
.comment-notes {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}
#respond label {
    color: #273238;
    margin-bottom: 11px;
    display: inline-block;
}
#commentform p {    
    margin-bottom: 21px;
}
#commentform p.comment-form-comment {
    margin-bottom: 0;
}
#commentform p.form-submit {
	margin: 21px 0 0;
	text-align: left;
    width: 100%;
}
.single-wrapper .comment-metadata span.edit-link {
    display: inline-block;
    padding-left: 5px;
}
#breadcrumb-list {
    position: relative;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #ff696a;
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus,
a:active {
	color: #333;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#masthead {
    position: relative;
    width: 100%;
    z-index: 3000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#navigation-menu {
    background-color: #322d2d;
    position: relative;
    z-index: 300;
}
#site-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
#site-menu .search-menu,
#search-menu {
    width: 60px;
    text-align: center;
}
#site-menu .search-menu a,
#search-menu a {
	width: 60px;
	height: 70px;
	line-height: 70px;
	display: block;
}
#social-navigation .social-icons {
    display: none;
}
.site-branding {
    text-align: center;
}
.site-title {
    margin: 0;
    line-height: 1.3;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0.01em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.site-title a {
    color: #807e8c;
}
.site-title a:hover,
.site-title a:focus {
	opacity: 0.8;
}
.site-description {
    margin: 5px 0 0;
    line-height: 1.5;
    color: #7b7b7b;
}
.main-navigation,
.secondary-navigation {
	display: block;
    position: relative;
}
.secondary-menu-toggle svg {
    fill: #000;
}
.main-navigation ul#primary-menu li.current-menu-item > a,
.main-navigation ul#primary-menu li:hover > a,
.secondary-navigation ul#secondary-menu li.current-menu-item > a,
.secondary-navigation ul#secondary-menu li:hover > a {
    color: #ff696a;
}
.main-navigation ul#primary-menu li:hover > svg,
.main-navigation li.menu-item-has-children:hover > a > svg,
.main-navigation li.menu-item-has-children > a:hover > svg,
.main-navigation ul#primary-menu > li.current-menu-item > a > svg,
.secondary-navigation ul#secondary-menu li:hover > svg,
.secondary-navigation ul#secondary-menu > li.current-menu-item > a > svg {
    fill: #ff696a;
}
.main-navigation ul ul,
.secondary-navigation ul ul {
    background-color: #fff;
    text-align: left;
    padding: 0;
}
.main-navigation ul.sub-menu li a,
.secondary-navigation ul.sub-menu li a {
    padding: 8px 15px;
    color: #807e8c;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    font-weight: 600;
}
.main-navigation ul.sub-menu a:after,
.secondary-navigation ul.sub-menu a:after {
	float: right;
}
.main-navigation ul,
.secondary-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation .social-menu-item ul,
.secondary-navigation .social-menu-item ul {
    display: block;
    border: none;
}
.main-navigation .social-menu-item ul li a,
.secondary-navigation .social-menu-item ul li a {
	width: 40px;
    border: 1px solid #d6d6d6;
}
.main-navigation .social-menu-item ul li,
.secondary-navigation .social-menu-item ul li {
	margin-right: 10px;
}
#masthead .main-navigation .social-menu-item .social-icons {
    margin: 0;
    padding: 20px 15px 20px 25px;
}
.main-navigation + .social-icons {
	display: none;
}
.main-navigation li,
.secondary-navigation li {
	position: relative;
	display: inline-block;
}

.main-navigation ul.nav-menu > li > a,
.secondary-navigation ul.nav-menu > li > a {
    padding: 51px 12px;
    color: #807e8c;
    text-transform: uppercase;
    font-weight: 600;
}
.main-navigation form.search-form input {
    background-color: #333;
    border-color: #333;
    color: #333;
    font-weight: 400;
}
.main-navigation ul.nav-menu > li > a.search:hover svg.icon-search,
.main-navigation ul.nav-menu > li > a.search:focus svg.icon-search,
.main-navigation li.search-menu a:hover svg,
.main-navigation li.search-menu a:focus svg,
.main-navigation li.search-menu a.search-active svg,
.secondary-navigation ul.nav-menu > li > a:hover svg,
.main-navigation  ul.nav-menu > li > a:hover svg {
	fill: #ff696a;
}
.main-navigation a:hover,
.main-navigation ul.nav-menu > li > a:hover,
.secondary-navigation a:hover,
.secondary-navigation ul.nav-menu > li > a:hover {
    color: #ff696a;
}
.main-navigation a,
.secondary-navigation a {
	display: block;
    text-decoration: none;
}
.main-navigation ul ul,
.secondary-navigation ul ul {
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}
.main-navigation ul ul ul,
.secondary-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.main-navigation ul ul a,
.secondary-navigation ul ul a {
	width: 225px;
}
.main-navigation {
    text-align: center;
    margin: auto;
}
.main-navigation ul.nav-menu > li > a {
    padding: 20px 18px;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a,
.secondary-navigation .current_page_item > a,
.secondary-navigation .current-menu-item > a,
.secondary-navigation .current_page_ancestor > a,
.secondary-navigation .current-menu-ancestor > a {
	color: #333;
}
form.search-form {
    width: 100%;
    max-width: 100%;
    position: relative;
}
.main-navigation form.search-form {
    min-width: 320px;
}
input.search-field {
    height: 45px;
    border-radius: 0;
    padding: 0 50px 0 15px;
    width: 100%;
    outline: none;
}
.main-navigation svg.icon-close,
.secondary-navigation svg.icon-close {
    display: none;
}
#search.hidden-small form.search-form {
    position: absolute;
    left: 0;
    right: 0;
}
svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
svg.icon-search,
svg.icon-close {
    width: 15px;
    height: 15px;
    fill: #fff;
}
.search-submit svg.icon-search {
    fill: #adadad;
    opacity: 1;
}
.main-navigation svg.icon-down,
.secondary-navigation svg.icon-down {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    fill: #fff;
}
.main-navigation .sub-menu svg,
.secondary-navigation .sub-menu svg {
    width: 12px;
    height: 12px;
    fill: #7b7b7b;
    position: absolute;
    right: 15px;
    top: 17px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#site-menu #search {
    display: none;
}
#search-menu {
	display: none;
}
#search-menu .icon-close,
#search-menu.active .icon-search,
.search-menu .icon-close,
.search-menu.active .icon-search {
    display: none;
}
#search-menu.active .icon-close,
.search-menu.active .icon-close {
	display: inline-block;
}
#search-menu button .icon-search,
.search-menu button .icon-search,
#search-menu.active button .icon-search,
.search-menu.active button .icon-search {
	display: inline-block;
}
#search-menu input[type="search"] {
	padding-left: 40px;
    border-radius: 4px;
    min-height: 40px;
    height: auto;
    background-color: #efefef;
    border-color: #efefef;
    padding: 5px 15px 0px 40px;
}
#search-menu form.search-form button.search-submit {
	min-height: 40px;
	height: auto;
}
.menu-toggle,
.primary-menu-toggle {
    border-radius: 0;
    width: 60px;
    height: 70px;
    outline: none;
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 3;
    float: right;
}
.primary-menu-toggle svg.icon-close {
    display: none;

}
.menu-open svg.icon-menu-bar {
    display: none;
}
.primary-menu-toggle svg.icon-menu-bar {
    fill:#fff;
    width: 20px;
    height: 20px;
}
.secondary-menu-toggle {
	position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}
.secondary-menu-toggle svg {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}
.secondary-menu-toggle svg.icon-close {
    display: none;
    fill: #000;
    width: 16px;
    height: 16px;
}
.secondary-menu-toggle.active svg.icon-menu-bar {
	display: none;
}
.secondary-menu-toggle.active svg.icon-close {
	display: block;
}
#site-menu .menu-toggle.active svg {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.menu-label {
    float: right;
    color: #333;
    padding: 7px 0 0 10px;
    display: none;
}
svg.icon-menu {
    fill: #fff;
    opacity: 0.7;
    vertical-align: baseline;
}
button.dropdown-toggle {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    width: 45px;
    height: 57px;
    line-height: 62px;
    outline: none;
}
.main-navigation .dropdown-toggle.active > svg,
.secondary-navigation .dropdown-toggle.active > svg,
.site-header.menu-open .menu-toggle {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.boxed-layout .main-navigation ul.nav-menu > li > a {
	padding: 20px 14px;
}
/*------------------------------------------------------------
	Secondary navigation
/*-----------------------------------------------------------*/
.jetpack_subscription_widget {
    padding: 40px 0;
}
#subscribe-email {
    display: inline-block;
    margin: 0 15px;
}
.secondary-navigation svg.icon-search,
.secondary-navigation svg.icon-down {
	fill: #807e8c;
}
.secondary-navigation form.search-form input {
    background-color: #fff;
    border: none;
    min-height: 55px;
}
.secondary-navigation form.search-form button.search-submit {
	height: 59px;
}
.secondary-navigation form.search-form input {
	padding-left: 25px;
}
.secondary-navigation .sub-menu svg {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
    top: 15px;
}
.menu-overlay {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.menu-overlay.active {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 3;
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
	position: relative;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
	position: relative;
}
.navigation.post-navigation, 
.navigation.posts-navigation {
    margin-top: 20px;
    background-color: #fff;
    padding: 23px 20px;
}
.post-navigation a,
.posts-navigation a {
    font-weight: 600;
    color: #333;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.post-navigation a:hover, 
.posts-navigation a:hover,
.post-navigation a:focus, 
.posts-navigation a:focus {
	color: #ff696a;
}
.post-navigation, 
.posts-navigation {
    padding: 0;
    position: relative;
}
.pagination .page-numbers,
.pagination .page-numbers.dots:hover,
.pagination .page-numbers.dots:focus {
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 5px;
    color: #fff;
    background-color: #322d2d;
}
.pagination .page-numbers.current,
.pagination .page-numbers:hover,
.pagination .page-numbers:focus {
    color: #fff;
    background-color: #ff696a;
}
.pagination .page-numbers.prev,
.pagination .page-numbers.next {
	margin-right: 25px;
	width: auto;
    height: auto;
    position: relative;
    top: 2px;
    background-color: transparent;
    color: #117eff;
}
.pagination .page-numbers.prev:hover, 
.pagination .page-numbers.next:hover,
.pagination .page-numbers.prev:focus, 
.pagination .page-numbers.next:focus {
	color: #333;
	background-color: transparent;
}
.pagination .page-numbers.prev:hover svg, 
.pagination .page-numbers.next:hover svg {
	fill: #ff696a;
}
.pagination .prev.page-numbers svg,
.pagination .next.page-numbers svg {
    display: inline-block;
    vertical-align: middle;
    fill: #322d2d;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 12px;
    height: 12px;
    margin-right: 7px;
}
.pagination .next.page-numbers svg {
	margin-left: 7px;
	margin-right: 0;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.pagination .page-numbers.next {
	margin-left: 18px;
	margin-right: 0;
    background-color: transparent;
}
.prev.page-numbers svg,
.next.page-numbers svg {
    fill: #cecece;
}
.nav-previous span {
    padding-left: 38px;
    float: left;
    text-align: left;
}
.nav-next span {
    padding-right: 38px;
    float: right;
    text-align: right;
}
.navigation .nav-previous svg {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    position: absolute;
    top: 3px;
    left: 0;
}
.navigation .nav-next svg {
    position: absolute;
    top: 3px;
    right: 0;
}
.post-navigation span,
.posts-navigation span {
    display: table;
}
.no-sidebar .post-archive article .post-thumbnail img {
    width: 100%;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.footer-widgets-area:before,
.footer-widgets-area:after,
.wrapper:before,
.wrapper:after,
.widget:before,
.widget:after,
.post-archive:before,
.post-archive:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.footer-widgets-area:before,
.footer-widgets-area:after,
.wrapper:before,
.wrapper:after,
.widget:before,
.widget:after,
.post-archive:before,
.post-archive:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 20px;
}
.widget:last-child {
    margin-bottom: 0;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
    background-color: #efefef;
    padding: 10px;
    border: none;
    width: 100%;
    max-width: 300px;
}
.widget select:focus {
    outline: thin dotted;
}

.widget input {
    outline: none;
    height: 40px;
    border-radius: 0;
    padding: 0 15px;
    border: none;
}

form.search-form button.search-submit {
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border: none;
    width: 45px;
    border-radius: 0;
    outline: none;
}
.widget_search form.search-form .search-submit {
    width: auto;
    color: #fff;
    background-color: #333;
    left: auto;
    right: 0;
    font-size: 14px;
    height: 40px;
    line-height: 25px;
    min-width: 91px;
}
.widget_search form.search-form .search-submit:hover,
.widget_search form.search-form .search-submit:focus {
	background-color: #117eff;
	color: #fff;
}
.widget_search form.search-form .search-submit svg {
	fill: #b9b9b9;
	width: 16px;
    height: 16px;
}
.widget_search form.search-form .search-submit:hover svg,
.widget_search form.search-form .search-submit:focus svg {
	fill: #117eff;
}
.widget_search form.search-form input {
	border: none;
}
.widget_search form.search-form input {
    padding: 0 100px 0 15px;
    height: 40px;
    background-color: #efefef;
}
form.search-form {
    position: relative;
}

form.search-form input {
    width: 100%;
    padding: 0 15px 0 40px;
    font-weight: 300;
}

#wp-calendar tbody td {
    text-align: center;
}

.calendar_wrap table {
   display: table;
}

.calendar_wrap th,
.calendar_wrap td {
   padding: 8px 5px;
}

#wp-calendar caption {
    margin-bottom: 15px;
}

.widget-title {
    font-size: 22px;
    margin: 0 0 20px;
}

.widget li:not(:last-child) {
    margin-bottom: 13px;
}

.widget_instagram ul {
    list-style: none;
    margin: -5px;
    padding: 0;
}
.widget.widget_instagram li {
	margin: 0;
	padding: 5px;
}
.widget_instagram .col-1 li {
	width: 100%;
	float: none;
}
.widget_instagram .col-2 li {
	width: 50%;
	float: left;
}
.widget_instagram .col-3 li {
	width: 33.33%;
	float: left;
}
.widget_instagram .col-4 li {
	width: 25%;
	float: left;
}
.widget_instagram .col-5 li {
	width: 20%;
	float: left;
}
.widget_instagram li img {
	width: 100%;
}
.widget.widget_archive li {
	text-align: right;
}
.widget.widget_archive li a {
	float: left;
}
#secondary .widget-title,
#secondary .widgettitle {
	margin: 0 0 20px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
}
#secondary .widget:not(:last-child) {
    margin-bottom: 25px;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    font-size: 14px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #117eff;
}
.jetpack_subscription_widget form {
    position: relative;
}
.jetpack_subscription_widget input[type="email"] {
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: transparent;
    max-width: 216px;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
    outline: none;
}
.jetpack_subscription_widget input[type="submit"] {
    font-size: 16px;
    min-width: 175px;
    background-color: transparent;
    font-weight: 600;
    color: #ff696a;
    height: 50px;
    border: 2px solid #ff696a;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    padding-top: 5px;
}
.jetpack_subscription_widget input[type="submit"]:hover,
.jetpack_subscription_widget input[type="submit"]:focus {
    background-color: #322d2d;
    border-color: #322d2d;
    color: #fff;
}
.jetpack_subscription_widget #subscribe-text {
    display: inline-block;
    margin-bottom: 10px;
}
.jetpack_subscription_widget #subscribe-text p {
    margin-top: 0;
    line-height: 25px;
}
.jetpack_subscription_widget #subscribe-submit {
    display: inline-block;
    margin: 0;
    position: relative;
}
.jetpack_subscription_widget .widget-title {
    margin-bottom: 5px;
}
#subscribe-email label {
    margin-bottom: 7px;
    display: inline-block;
    width: 100%;
}
.widget_popular_post ul,
.widget_latest_post ul,
.widget_featured_post ul {
    padding: 0;
    margin: 0;
    list-style: none;
    clear: both;
    display: table;
}
.widget.widget_popular_post ul li,
.widget.widget_latest_post ul li,
.widget.widget_featured_post ul li {
    clear: both;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.widget.widget_popular_post ul li:last-child,
.widget.widget_latest_post ul li:last-child,
.widget.widget_featured_post ul li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.widget_popular_post h3,
.widget_latest_post h3,
.widget_featured_post h3 {
    font-size: 18px;
    display: table-row;
    letter-spacing: 0.01em;
}
.widget_popular_post h3 a,
.widget_latest_post h3 a,
.widget_featured_post h3 a {
	display: block;
}
#secondary .widget_popular_post h3 a,
#secondary .widget_latest_post h3 a,
#secondary .widget_featured_post h3 a {
	font-weight: 600;
}
.widget_popular_post time,
.widget_latest_post time,
.widget_featured_post time {
    display: table-row;
    font-weight: 500;
}
.widget_popular_post h3 a,
.widget_popular_post a:hover time,
.widget_popular_post a:focus time,
.widget_latest_post h3 a,
.widget_latest_post a:hover time,
.widget_latest_post a:focus time,
.widget_featured_post h3 a,
.widget_featured_post a:hover time,
.widget_featured_post a:focus time {
    color: #333;
}
.widget_popular_post h3 a:hover,
.widget_popular_post h3 a:focus,
.widget_popular_post a:hover time,
.widget_popular_post a:focus time,
.widget_latest_post h3 a:hover,
.widget_latest_post h3 a:focus,
.widget_latest_post a:hover time,
.widget_latest_post a:focus time,
.widget_featured_post h3 a:hover,
.widget_featured_post h3 a:focus,
.widget_featured_post a:hover time,
.widget_featured_post a:focus time {
	color: #ff696a;
}
.widget_popular_post a time,
.widget_popular_post time,
.widget_latest_post a time,
.widget_latest_post time,
.widget_featured_post a time,
.widget_featured_post time {
    color: #9e9da7;
}
.widget_popular_post img,
.widget_latest_post img,
.widget_featured_post img {
    max-width: 95px;
    width: 95px;
    height: 95px;
    float: left;
    margin-right: 14px;
}
.textwidget img {
    margin-bottom: 25px;
    display: block;
}
.widget.widget_text .btn {
	margin-top: 20px;
}
.textwidget a {
    line-height: 1.5;
    display: inline-block;
    font-weight: 500;
}
#secondary .jetpack_subscription_widget input[type="email"] {
    height: 50px;
    min-height: auto;
    background-color: #fff;
    border-color: #fff;
    padding: 15px 18px;
}
#secondary .jetpack_subscription_widget input[type="submit"] {
    position: relative;
    margin: auto;
    min-height: 50px;
    border-radius: 0;
    background-color: #333;
    min-width: 151px;
    margin: 0;
    text-transform: uppercase;
}
#secondary .jetpack_subscription_widget input[type="submit"]:hover,
#secondary .jetpack_subscription_widget input[type="submit"]:focus {
	background-color: #117eff;
}
#secondary p#subscribe-email {
    margin-top: 0;
}
#secondary .widget .social-icons {
    text-align: center;
    margin-top: -10px;
}
#secondary .widget .social-icons li a:hover svg,
#secondary .widget .social-icons li a:focus svg {
	fill: #fff;
}
/*#secondary .widget {
    background-color: #fff;
    padding: 25px;
}*/
.widget svg {
	fill: #117eff;
}
#secondary,
#secondary a {
    font-weight: 500;
}
#secondary a,
#secondary .textwidget a:hover,
#secondary .textwidget a:focus {
    color: #333;
}
#secondary a:hover,
#secondary a:focus,
#secondary .textwidget a {
    color: #ff696a;
}
.single-wrapper .entry-meta {
    margin-bottom: 25px;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}
.hentry {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
nav.navigation.pagination {
    margin-top: 50px;
    clear: both;
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.navigation.pagination svg {
    fill: #cecece;
    width: 16px;
    height: 16px;
    position: relative;
    top: -2px;
}
.menu-sticky #navigation-menu {
	position: sticky;
    top: 0;
}
.navigation.posts-navigation svg, 
.navigation.post-navigation svg {
    width: 20px;
    height: 20px;
    fill: #333;
    display: inline-block;
    vertical-align: middle;
}
.navigation.posts-navigation a:hover svg, 
.navigation.post-navigation a:hover svg {
	fill: #ff696a;
}
.navigation.posts-navigation svg.icon-left, 
.navigation.post-navigation svg.icon-left {
	margin-right: 20px;
}
.navigation.posts-navigation svg.icon-right, 
.navigation.post-navigation svg.icon-right {
	margin-left: 20px;
}
.post-categories a {
    color: #117eff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.single-post .site-main .comment-navigation, 
.single-post .site-main .posts-navigation, 
.single-post .site-main .post-navigation {
	margin-bottom: 0;
}
.post-navigation .previous-article span span,
.posts-navigation .previous-article span span,
.post-navigation .next-article span span,
.posts-navigation .next-article span span {
    display: block;
}
.post-navigation span.previous-article b,
.post-navigations span.previous-article b,
.post-navigation span.next-article b,
.post-navigations span.next-article b {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.post-navigation span.previous-article,
.post-navigations span.previous-article {
    display: table;
}
.no-sidebar #comments, 
.no-sidebar .navigation {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.singular-section #primary #main > article {
    background-color: #fff;
    padding: 23px 40px;
}
.singular-section .entry-header {
	text-align: center;
	margin-bottom: 25px;
	display: inline-block;
    width: 100%;
}
.singular-section .entry-title {
    font-size: 32px;
    margin-bottom: 0;
}
.singular-section .entry-title + .cat-links {
    margin-top: 15px;
    display: inline-block;
}
.singular-section .entry-meta {
    text-align: center;
}
.singular-section .entry-content + .entry-meta {
    text-align: left;
}
.singular-section .single-featured-image + .entry-meta {
    margin-top: -30px;
}
.singular-section span.byline,
.singular-section span.byline a {
    color: #333;
}
.singular-section span.byline a:hover,
.singular-section span.byline a:focus {
    color: #117eff;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

#reply-title,
.comments-title {
    font-size: 42px;
    margin: 0;
}
.comments-title,
#reply-title {
	margin-bottom: 35px;
	font-size: 32px;
	font-weight: 600;
}
ul.post-categories li:after {
    content: ",";
}
ul.post-categories li:last-child:after {
    display: none;
}
ol.comment-list {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}
#comments ol {
    list-style: none;
    margin-left: 0;
    padding: 0;
}
#comments ol.comment-list {
	position: relative;
    overflow: hidden;
}
#comments ol.children {
    margin-left: 90px;
}
.says {
    display: none;
}
.comment-meta img {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
#comments time:before {
    display: none;
}
.comment-body {
    position: relative;
}
.reply {
    padding-left: 100px;
    display: inline-block;
    margin-top: 3px;
}
#comments article {
    margin-bottom: 15px;
    clear: both;
}
.comment-meta .fn {
    margin-left: 20px;
    margin-top: 0px;
}
.comment-content {
    margin-bottom: 13px;
    margin-top: -50px;
    margin-left: 80px;
    background-color: #fff;
    padding: 55px 20px 20px;
}
#comments ol.comment-list > li:last-child article:last-child,
#comments ol.comment-list > li:last-child {
	border-bottom: none;
}
#comments ol.comment-list > li:first-child {
    padding-top: 0;
}
#comments ol.comment-list > li {
    margin-bottom: 30px;
}
#comments ol.comment-list > li article:last-child .reply {
	border-bottom: none;
    padding-bottom: 0;
}
.reply a {
    display: inline-block;
    border-radius: 0;
    color: #333;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.reply a:hover,
.reply a:focus {
    color: #ff696a;
}
.comment-meta .url,
.comment-meta .fn {
    float: left;
    color: #333;
    font-size: 16px;
    margin-right: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.comment-meta .fn:after {
    content: "|";
    color: #72757a;
    padding: 0 5px;
}
.comment-meta .url:hover,
.comment-meta .url:focus,
.comment-metadata a,
.comment-metadata a time {
	color: #ff696a;
}
.comment-metadata a,
.comment-metadata a time {
    font-weight: 400;
    color: #72757a;
}
.comment-metadata a:hover,
.comment-metadata a:focus,
.comment-metadata a:hover time,
.comment-metadata a:focus time {
	color: #ff696a;
}
.comment-metadata {
    display: inline-block;
    margin-left: -5px;
}
.comment-content p {
    color: #72757a;
    margin-bottom: 0;
}
#comments {
    margin-top: 20px;
}
.comment-wrap {
    background-color: #fff;
    padding: 20px;
    margin-left: 80px;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Layouts and titles
--------------------------------------------------------------*/
section {
	position: relative;
}
.relative {
	display: block;
	position: relative;
}
.relative:before,
.relative:after {
	content: "";
	display: table;
	clear: both;
}
.page-section {
	padding: 100px 0;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0;
}
.entry-content {
	margin-top: 0;
}
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.entry-title {
    font-size: 26px;
    margin: 0 0 10px;
    word-wrap: break-word;
}
.section-title {
	font-size: 42px;
    margin-bottom: 0px;
    font-weight: 600;
    margin-top: 0;
    vertical-align: middle;
}
.section-subtitle {
    color: #807e8c;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.seperator {
    width: 50px;
    height: 2px;
    background-color: #ff696a;
}
.overlay {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.btn {
    padding: 17px 15px;
    font-size: 16px;
    display: inline-block;
    min-width: 370px;
    background-color: #ff696a;
    color: #fff;
    border: none;
    position: relative;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 0;
}
.btn:hover,
.btn:focus {
	background-color: #333;
    color: #fff;
}
#infinite-handle {
    text-align: center;
    margin-top: 15px;
}
button:focus {
	border: none;
	outline: none;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
    margin: 0;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
.tagcloud a {
    font-size: 16px !important;
}
/*--------------------------------------------------------------
## Social Icons
--------------------------------------------------------------*/
.social-icons li {
    display: inline-block;
    height: auto;
    text-align: center;
    position: relative;
    list-style: none;
}
.footer-widgets-area .widget .social-icons li {
	display: inline-block;
    width: auto;
}
.social-icons li:not(:last-child) {
    margin-right: 5px;
}
.social-icons,
.social-icons ul {
    margin: 0;
    padding: 0;
}
.social-icons li a {
    background-color: transparent;
    width: 40px;
    height: 40px;
    line-height: 35px;
    display: block;
}
#masthead .social-icons li a {
	line-height: 40px;
}
.social-icons a:focus {
	outline: none;
}
.social-icons li a:hover svg,
.social-icons li a:focus svg {
	fill: #fff;
}
.social-icons li a:hover svg,
.social-icons li a:focus svg {
	fill: #fff;
}
.social-icons li a svg {
    fill: #949494;
}
#colophon .social-icons li a svg {
	fill: #fff;
}
/*--------------------------------------------------------------
## Social Icons Hover Color
--------------------------------------------------------------*/
.social-icons li a[href*="facebook.com"]:hover,
.social-icons li a[href*="fb.com"]:hover,
.social-icons li a[href*="facebook.com"]:focus,
.social-icons li a[href*="fb.com"]:focus {
 	background-color: #3c5798 !important;
}
.social-icons li a[href*="twitter.com"]:hover,
.social-icons li a[href*="twitter.com"]:focus {
 	background-color: #1ea0f1 !important;
}
.social-icons li a[href*="linkedin.com"]:hover,
.social-icons li a[href*="linkedin.com"]:focus {
 	background-color: #0077B5 !important;
}
.social-icons li a[href*="plus.google.com"]:hover,
.social-icons li a[href*="plus.google.com"]:focus {
 	background-color: #ec7161 !important;
}

.social-icons li a[href*="youtube.com"]:hover,
.social-icons li a[href*="youtube.com"]:focus {
 	background-color: #cc181e !important;
}

.social-icons li a[href*="dribbble.com"]:hover,
.social-icons li a[href*="dribbble.com"]:focus {
 	background-color: #f4a09c !important;
}

.social-icons li a[href*="pinterest.com"]:hover,
.social-icons li a[href*="pinterest.com"]:focus {
 	background-color: #bd081b !important;
}

.social-icons li a[href*="bitbucket.org"]:hover,
.social-icons li a[href*="bitbucket.org"]:focus {
 	background-color: #205081 !important;
}

.social-icons li a[href*="github.com"]:hover,
.social-icons li a[href*="github.com"]:focus {
 	background-color: #323131 !important;
}

.social-icons li a[href*="codepen.io"]:hover,
.social-icons li a[href*="codepen.io"]:focus {
 	background-color: #333 !important;
}

.social-icons li a[href*="flickr.com"]:hover,
.social-icons li a[href*="flickr.com"]:focus {
 	background-color: #025FDF !important;
}

.social-icons li a[href$="/feed/"]:hover,
.social-icons li a[href$="/feed/"]:focus {
 	background-color: #089DE3 !important;
}

.social-icons li a[href*="foursquare.com"]:hover,
.social-icons li a[href*="foursquare.com"]:focus {
 	background-color: #F94877 !important;
}

.social-icons li a[href*="instagram.com"]:hover,
.social-icons li a[href*="instagram.com"]:focus {
 	background-color: #B9358A !important;
}

.social-icons li a[href*="tumblr.com"]:hover,
.social-icons li a[href*="tumblr.com"]:focus {
 	background-color: #56BC8A !important;
}

.social-icons li a[href*="reddit.com"]:hover,
.social-icons li a[href*="reddit.com"]:focus {
 	background-color: #FF4500 !important;
}

.social-icons li a[href*="vimeo.com"]:hover,
.social-icons li a[href*="vimeo.com"]:focus {
 	background-color: #00ADEF !important;
}

.social-icons li a[href*="digg.com"]:hover,
.social-icons li a[href*="digg.com"]:focus {
 	background-color: #00ADEF !important;
}

.social-icons li a[href*="twitch.tv"]:hover,
.social-icons li a[href*="twitch.tv"]:focus {
 	background-color: #0E9DD9 !important;
}

.social-icons li a[href*="stumbleupon.com"]:hover,
.social-icons li a[href*="stumbleupon.com"]:focus {
 	background-color: #EB4924 !important;
}

.social-icons li a[href*="delicious.com"]:hover,
.social-icons li a[href*="delicious.com"]:focus {
 	background-color: #0076E8 !important;
}

.social-icons li a[href*="mailto:"]:hover,
.social-icons li a[href*="mailto:"]:focus {
 	background-color: #4169E1 !important;
}
.social-icons li a[href*="soundcloud.com"]:hover,
.social-icons li a[href*="soundcloud.com"]:focus {
 	background-color: #FF5500 !important;
}
.social-icons li a[href*="wordpress.org"]:hover,
.social-icons li a[href*="wordpress.org"]:focus {
 	background-color: #0073AA !important;
}
.social-icons li a[href*="wordpress.com"]:hover {
 	background-color: #00AADC !important;
}

.social-icons li a[href*="jsfiddle.net"]:hover,
.social-icons li a[href*="jsfiddle.net"]:focus {
 	background-color: #396AB1 !important;
}

.social-icons li a[href*="tripadvisor.com"]:hover,
.social-icons li a[href*="tripadvisor.com"]:focus {
 	background-color: #FFE090 !important;
}

.social-icons li a[href*="angel.co"]:hover,
.social-icons li a[href*="angel.co"]:focus {
 	background-color: #333 !important;
}

.social-icons li a[href*="slack.com"]:hover,
.social-icons li a[href*="slack.com"]:focus {
 	background-color: #E60264 !important;
}
/*--------------------------------------------------------------
#  Page Site Header
--------------------------------------------------------------*/
#page-site-header {
    padding: 150px 0;
    text-align: center;
    position: relative;
    background-color: #333;
    background-size: cover;
    background-position: 50%;
}
#page-site-header .page-title {
	font-size: 36px;
	color: #fff;
	position: relative;
}
/*--------------------------------------------------------------
#  Breadcrumb List
--------------------------------------------------------------*/
.trail-items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.trail-items li {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.trail-items li a {
	color: rgba(255, 255, 255, 0.60);
}
.trail-items li a:hover,
.trail-items li a:focus {
	color: #fff;
}
.trail-items li:not(:last-child):after {
	content: "/";
    color: rgba(255, 255, 255, 0.60);
    padding-left: 4px;
    padding-right: 2px;
}


/*--------------------------------------------------------------
# 					Hero-banner
--------------------------------------------------------------*/
#hero-banner {
    padding: 150px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: center;
    background-color: #000;

}
.post-categories {
    padding: 0;
    margin: 0 0 8px 0;
    list-style: none;
}
#hero-banner .entry-header {
    max-width: 700px;
    margin: auto;
}
#hero-banner .entry-title {
    font-size: 52px;
}
#hero-banner .entry-title a,
#hero-banner .post-categories a,
#hero-banner .entry-meta a,
#hero-banner span.byline:after,
.byline {
    color: #fff;
}
#hero-banner .entry-title a:hover,
#hero-banner .post-categories a:hover,
#hero-banner .entry-meta a:hover,
#about-me .featured-content span a:hover,
.post-archive article .entry-container .entry-title a:hover,
.post-archive article .entry-container .entry-meta a:hover,
#popular-post ul li h3 a:hover {
    color: #ff696a;
}
#hero-banner .post-categories li:after {
    content: ",";
    color: #fff;
    padding-right: 3px;
}
#hero-banner .post-categories li {
    display: inline-block;
}
.byline {
   font-size: 14px;
   font-weight: 600;
   text-transform: uppercase;
}
#recent .byline,
.single-wrapper .byline,
.blog .byline, 
.search .byline, 
.archive .byline  {
	color: #9e9da7;
}
.single-wrapper span.post-categories .cat-links a {
	color: #ff696a;
}
.single-wrapper span.post-categories .cat-links a:hover {
    color: #322d2d;
}
.single-wrapper span.post-categories,
.single-wrapper span.edit-link {
    display: block;
}
.entry-meta a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
span.byline:after,
#popular-post ul li .entry-meta a time:before,
.blog .entry-meta a time:before,
.search .entry-meta a time:before,
.archive .entry-meta a time:before,
.single-wrapper .entry-meta a time:before {
    content: "-";
    padding: 0 2px;
    color: #ff696a;
}
.blog .entry-meta span.byline:after,
.search .entry-meta span.byline:after,
.archive .entry-meta span.byline:after,
.single-wrapper .entry-meta span.byline:after {
	content: "";
	display: none;
}

#popular-post .byline,
#photography .byline,
#life-style .byline {
	color: #9e9da7;
}

/*--------------------------------------------------------------
# 					About-me
--------------------------------------------------------------*/
#about-me {
    background-color: #f1f6fa;
}
.about-wrapper {
    margin: 0 -15px;
}
#about-me .hentry {
    position: relative;
    padding:0 15px;
    margin-bottom: 20px;
}
#about-me .hentry img {
    width: 100%;
    position: relative;
}
.inner-border {
    position: absolute;
    top: 10px;
    right: 25px;
    bottom: 10px;
    left: 25px;
    border: 1px solid #fff;
}
#about-me .featured-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
#about-me span {
    padding: 11px 28px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
#about-me .featured-content span a {
 	color: #181616;
    background-color: #fff;
    padding: 11px 10px;
}

/*--------------------------------------------------------------
# 					Recent
--------------------------------------------------------------*/
#recent {
    background-color: #f1f6fa;
}
#recent .seperator,
#life-style .seperator {
    margin: auto;
}
.post-archive {
    margin-top: 50px;
}
#recent .post-archive {
	margin: 50px -15px 0 -15px;
}
#recent .post-archive .hentry,
.blog .post-archive .hentry,
.archive .post-archive .hentry,
.search .post-archive .hentry {
   	padding: 0 18px;
    margin-bottom: 35px;
}
.post-archive .entry-container {
    background-color: #fff;
    padding: 42px 30px;
    margin-top: -20px;
    position: relative;
    box-shadow: 0px 0px 25px 0px rgba(12, 12, 12, 0.1); 
}
.post-archive.half .entry-container {
    margin-right: 20px;
}
.post-archive.half .no-post-thumbnail .entry-container {
    margin-right: 0;
    margin-top: 0;
}
.post-archive article .entry-container .cat-links {
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}
.post-archive article .entry-container .entry-title a,
#popular-post ul li h3 a {
	color: #322d2d;
}
.post-archive article .entry-container .entry-meta a {
	color: #9e9da7;
	font-size: 14px;
}	
.post-archive article .entry-container span.posted-on {
    font-weight: 600;
    color: #9e9da7;
    font-size: 14px;
    text-transform: uppercase;
}
.more-link:hover,
.more-link:hover svg {
	color: #ff696a;
	fill: #ff696a;
}

/*--------------------------------------------------------------
# 					Popular-post
--------------------------------------------------------------*/
.header-wrapper .section-header {
    float: left;
    text-align: left;
}
.more-link {
    float: right;
    margin-top: 50px;
    text-transform: uppercase;
    color: #322d2d;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
#popular-post .hentry:first-child {
    width: 65%;
    padding-right: 18px;
}
#popular-post .hentry:last-child {
    width: 35%;
    padding-left: 18px;
}
#popular-post img {
    width: 100%;
}
#popular-post .entry-title {
    font-size: 32px;
}
#popular-post .posted-on {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #9e9da7;
}
.post-archive ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.post-archive ul li {
    clear: both;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
#popular-post ul li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 16px;
    float: left;
}
#popular-post ul li .entry-meta {
    margin-bottom: 5px;
}
#popular-post ul li h3 {
    font-size: 20px;
    line-height: 1.5;
    display: table-row;
    font-weight: 600;
}

/*--------------------------------------------------------------
# 					Photography
--------------------------------------------------------------*/
#photography article {
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
#photography article:last-child {
    margin-bottom: 0;
}
#photography .featured-image {
    padding: 190px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
#photography article.has-post-thumbnail .featured-image {
    width: 50%;
    float: left;
    display: table-cell;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 0;
    height: 100%;
}
#photography article.has-post-thumbnail .entry-container {
    width: 50%;
    padding: 50px 28px;
    display: table-cell;
    float: right;
    margin: 0 0 40px 50px;
    z-index: 10;
}
#photography article.has-post-thumbnail .entry-container:before {
    content: "";
    background-color: #fff;
    position: absolute;
    left: -20px;
    width: 20px;
    height: 100%;
    z-index: 1000;
    top: 0;
}
#photography .entry-title {
    font-size: 32px;
}
#photography .entry-container .more-link {
    float: none;
    display: inline-block;
    margin-top: 35px;
    color: #ff696a;
}
#photography .entry-container .more-link:hover,
#photography .entry-container .more-link:hover svg {
    color: #322d2d;
    fill: #322d2d;
}
.more-link svg {
    vertical-align: middle;
    margin-top: -5px;
}
#photography .entry-container .more-link svg {
    fill: #ff696a;
}

/*--------------------------------------------------------------
# 					Lifestyle
--------------------------------------------------------------*/

#life-style .post-archive .hentry {
    padding: 0 18px;
    margin-bottom: 35px;
}
#life-style .post-archive .hentry:nth-child(3n+1) {
    clear: left;
}
#recent .post-archive .hentry:nth-child(3n+1) {
    clear: left;
}

/*--------------------------------------------------------------
# 					Instagram Section
--------------------------------------------------------------*/
.section-header {
    text-align: center;
}
#instagram-section {
	background-color: #f1f6fa;
}
#instagram-section .section-content {
    margin: 45px 0 0 0;
}
#instagram-section img {
    width: 100%;
}


/*--------------------------------------------------------------
# 					Footer
--------------------------------------------------------------*/
#colophon {
    background-color: #322d2d;
    color: #7b7b7b;
    font-size: 16px;
}
#colophon .widget-title {
    color: #fff;
    font-size: 22px;
}
#colophon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#colophon a,
#colophon p,
#colophon li {
    color: #858384;
    font-size: 16px;
}
#colophon a:hover,
#colophon a:focus {
    color: #ff696a;
}
.site-info {
    background-color: #141111;
    padding: 18px 0;
    line-height: 1.5;
}
.site-info,
.site-info a {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}
.site-info span {
	display: block;
	text-align: center;
    margin: 10px 0;
}
.site-info {
	margin: 0;
}
#colophon .site-info a {
    color: #fff;
}
#colophon .site-info a:hover,
#colophon .site-info a:focus,
#colophon .widget.widget_archive li a {
	text-decoration: underline;
}
.footer-widgets-area .widget ul li:last-child,
.footer-widgets-area .widget .social-icons li {
	margin-bottom: 0;
}
.footer-widgets-area .hentry {
	margin-bottom: 45px;
}
.footer-widgets-area.col-1 .hentry {
    text-align: center;
}
.footer-widgets-area.col-1 .hentry:last-child {
	margin-bottom: 0;
}
.footer-widgets-area.col-1 .textwidget img {
    margin-left: auto;
    margin-right: auto;
}
.footer-widgets-area.col-1 {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Typography Options
--------------------------------------------------------------*/
.header-font-1 h1,
.header-font-1 h2,
.header-font-1 h3,
.header-font-1 h4,
.header-font-1 h5,
.header-font-1 h6,
.header-font-1 .site-title a,
.header-font-1 .site-description,
.header-font-1 #secondary a,
.header-font-1 .more-link,
.header-font-1 .woocommerce-MyAccount-navigation ul li a,
.header-font-1 .site-info,
.header-font-1 #secondary .food_restro_pro_contact_info li,
.header-font-1 .post-navigation a,
.header-font-1 .posts-navigation a,
.header-font-1 #about-me span,
.header-font-1 .btn {
	font-family: 'Rajdhani', sans-serif;
}

.header-font-2 h1,
.header-font-2 h2,
.header-font-2 h3,
.header-font-2 h4,
.header-font-2 h5,
.header-font-2 h6,
.header-font-2 .site-title a,
.header-font-2 .site-description,
.header-font-2 #secondary a,
.header-font-2 .more-link,
.header-font-2 .post-navigation a,
.header-font-2 .posts-navigation a,
.header-font-2 #about-me span,
.header-font-2 .btn {
	font-family: 'Cherry Swash', sans-serif;
}

.header-font-3 h1,
.header-font-3 h2,
.header-font-3 h3,
.header-font-3 h4,
.header-font-3 h5,
.header-font-3 h6,
.header-font-3 .site-title a,
.header-font-3 .site-description,
.header-font-3 #secondary a,
.header-font-3 .more-link,
.header-font-3 .post-navigation a,
.header-font-3 .posts-navigation a,
.header-font-3 #about-me span,
.header-font-3 .btn {
	font-family: 'Philosopher', sans-serif;
}

.header-font-4 h1,
.header-font-4 h2,
.header-font-4 h3,
.header-font-4 h4,
.header-font-4 h5,
.header-font-4 h6,
.header-font-4 .site-title a,
.header-font-4 .site-description,
.header-font-4 #secondary a,
.header-font-4 .more-link,
.header-font-4 .post-navigation a,
.header-font-4 .posts-navigation a,
.header-font-4 #about-me span,
.header-font-4 .btn {
	font-family: 'Slabo 27px', sans-serif;
}

.header-font-5 h1,
.header-font-5 h2,
.header-font-5 h3,
.header-font-5 h4,
.header-font-5 h5,
.header-font-5 h6,
.header-font-5 .site-title a,
.header-font-5 .site-description,
.header-font-5 #secondary a,
.header-font-5 .more-link,
.header-font-5 .post-navigation a,
.header-font-5 .posts-navigation a,
.header-font-5 #about-me span,
.header-font-5 .btn {
	font-family: 'Dosis', sans-serif;
}

.body-font-1 {
	font-family: 'News Cycle', sans-serif;
}

.body-font-2 {
	font-family: 'Pontano Sans', sans-serif;
}

.body-font-3 {
	font-family: 'Gudea', sans-serif;
}

.body-font-4 {
	font-family: 'Quattrocento Sans', sans-serif;
}

.body-font-5 {
	font-family: 'Khand', sans-serif;
}

/*--------------------------------------------------------------
# 					RESPONSIVE
--------------------------------------------------------------*/
@media screen and (min-width: 567px) {

	.post-archive article:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
	.page-section {
	    padding: 40px 0;
	}
	.site-logo img {
	    max-height: 65px;
	    width: auto;
	}
	.footer-widgets-area.col-2 .hentry,
	.footer-widgets-area.col-4 .hentry {
		width: 50%;
		float: left;
	}
	.footer-widgets-area.col-2 .hentry:nth-child(2n+1),
	.footer-widgets-area.col-4 .hentry:nth-child(2n+1) {
		clear: left;
	}
	.footer-widgets-area.col-2 .hentry:nth-child(odd),
	.footer-widgets-area.col-4 .hentry:nth-child(odd) {
		padding-right: 40px;
	}
	.footer-widgets-area.col-2 .hentry:nth-last-child(-n+2),
	.footer-widgets-area.col-4 .hentry:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 767px) {
	.col-1 .hentry {
        width: 100%;
    }
    .col-2 .hentry {
        width: 50%;
        float: left;
    }
    .col-3 .hentry {
        width: 33.33%;
        float: left;
    }
    .col-4 .hentry {
        width: 25%;
        float: left;
    }
    .col-5 .hentry {
        width: 20%;
        float: left;
    }
    .col-6 .hentry {
        width: 16.66%;
        float: left;
    }
   .site-info.col-2 span {
	    float: left;
	    width: 50%;
	    text-align: left;
	}
	.site-info.col-2 span:nth-child(2) {
	    float: right;
	    text-align: right;
	}
}
@media screen and (min-width: 992px) {
	nav.navigation.pagination {
		margin-top: 63px;
	}
	.no-sidebar .comment-form-author, 
	.no-sidebar .comment-form-email, 
	.no-sidebar .comment-form-url {
	    width: 33.33%;
	    float: left;
	}
	.no-sidebar .comment-form-author input, 
	.no-sidebar .comment-form-email input {
	    max-width: 93%;
	}
	.footer-widgets-area.col-4 .hentry {
	    width: 25%;
		padding-right: 40px;
	}
	.footer-widgets-area.col-5 .hentry {
		width: 20%;
		float: left;
	}
	.footer-widgets-area.col-4 .hentry:last-child {
		padding-right: 0;
	}
	.footer-widgets-area.col-4 .hentry:nth-child(2n+1) {
	    clear: none;
	}
	.footer-widgets-area.col-4 .hentry:nth-child(4n+1),
	.footer-widgets-area.col-5 .hentry:nth-child(5n+1) {
	    clear: left;
	}
	.footer-widgets-area.col-4 .hentry:nth-last-child(-n+4) {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 1024px) {
	.site-branding {
	    text-align: left;
	    float: left;
	    margin-right: 25px;
	}
	.main-navigation li.social-menu-item {
	    display: none;
	}
	#site-menu .search-menu {
		display: none;
	}
	#search-menu a svg {
	    fill: #949494;
	}
	.main-navigation a,
	.main-navigation ul.nav-menu > li > a {
		color: #fff;
	}
	.main-navigation li.menu-item-has-children:hover > a > svg, 
	.main-navigation li.menu-item-has-children > a:hover > svg {
		fill: #fff;
	}
	#masthead .main-navigation ul#primary-menu li.current-menu-item > a,
	#masthead .main-navigation ul.nav-menu > li > a:hover,
	.main-navigation ul#primary-menu li:hover > a {
		color: #ff696a;
	}
	.main-navigation ul#primary-menu > li.current-menu-item > a > svg {
		fill: #ff696a;
	}
	#navigation-menu .main-navigation #primary-menu {
	    display: block !important;
	    height: auto !important;
	}
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul  {
		left: 0;
		right: auto;
	}
	.secondary-navigation ul li:hover > ul,
	.secondary-navigation ul li.focus > ul  {
		left: auto;
		right: 0;
	}
	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		right: auto;
	}
	.secondary-navigation ul ul li:hover > ul,
	.secondary-navigation ul ul li.focus > ul {
		left: auto;
		right: 100%;
	}
	.main-navigation ul.sub-menu li a {
		border-bottom: none;
	}
	.main-navigation ul ul li:not(:last-child) {
	    border-bottom: 1px solid #eee;
	}
	.main-navigation ul ul,
	.secondary-navigation ul ul {
	    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	}
	.main-navigation ul.sub-menu li:hover > a,
	.main-navigation ul.sub-menu li:focus > a {
		background-color: #444;
		color: #fff;
	}
	.main-navigation ul.sub-menu > li:last-child > a {
		border-bottom: none;
	}
	#search {
	    position: absolute;
	    z-index: 30;
	    right: 0;
	    top: 100%;
	    display: none;
	}
	.main-navigation .search-active .icon-search {
		display: none;
	}
	.main-navigation .search-active .icon-close {
		display: inline-block;
	}
	#masthead .main-navigation ul ul li.menu-item-has-children > a {
	    padding-right: 35px;
	}
	#masthead .main-navigation ul ul li a svg {
	    display: inline-block;
	    top: 17px;
	    -webkit-transform: rotate(-90deg);
	    -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	}
	.main-navigation ul#primary-menu ul li.current-menu-item > a,
	.main-navigation ul#primary-menu ul li:hover > a,
	.main-navigation ul#primary-menu ul li:focus > a {
	    color: #fff;
	}
	.main-navigation ul ul li.menu-item-has-children:hover > a > svg, 
	.main-navigation ul ul li.menu-item-has-children > a:hover > svg {
		fill: #fff;
	}
	#search:before {
	    content: "";
	    width: 0;
	    height: 0;
	    border-left: 9px solid transparent;
	    border-right: 9px solid transparent;
	    border-bottom: 9px solid #333;
	    position: absolute;
	    top: -9px;
	    right: 5px;
	}
	#search-menu {
		display: block;
		float: right;
	}
	#search-menu form.search-form {
	    position: absolute;
	    right: 80px;
	    left: auto;
	    max-width: 250px;
	    top: 15px;
	    display: none;
	}
	#search-menu form.search-form button.search-submit {
		right: auto;
	}
	button.dropdown-toggle,
	.menu-toggle,
	.primary-menu-toggle {
		display: none;
	}
	.main-navigation ul,
	.secondary-navigation ul {
		display: block !important;
	}
	.main-navigation li,
	.secondary-navigation li {
	    display: inline-block;
	}
	.main-navigation .left-menu {
	    padding-left: 50px;
	}
	.main-navigation ul.nav-menu > li.left-menu > a,
	.main-navigation ul.nav-menu > li.right-menu > a {
		padding-left: 5px;
		padding-right: 5px;
	}
	.main-navigation li.left-menu + li.right-menu:before {
	    content: "/";
	    position: absolute;
	    top: 50%;
	    margin-left: -6px;
	    color: #fff;
	    margin-top: -1px;
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	.main-navigation form.search-form {
	    border: 20px solid #333;
	}
	.main-navigation form.search-form input {
	    background-color: #fff;
	    border-color: #fff;
	    color: #333;
	}
	.main-navigation form.search-form svg.icon-search {
		fill: #333;
	}
	.right-sidebar #primary,
	.left-sidebar #primary {
    	width: 70%;
    	float: left;
	    padding-right: 30px;
    }
    .right-sidebar #secondary,
    .left-sidebar #secondary {
    	width: 30%;
    	float: left;
    }
	.left-sidebar #primary {
		padding-left: 30px;
		padding-right: 0;
		float: right;
	}
    .no-sidebar #primary {
    	width: 100%;
    	float: none;
    	padding-right: 0;
    }
    .boxed-layout #page {
	    max-width: 1200px;
	    width: 90%;
	    margin-left: auto;
	    margin-right: auto;
	}
	.frame-layout {
	    max-width: 100%;
	    width: 100%;
	    padding-left: 50px;
	    padding-right: 50px;
	    margin: 50px auto;
	}
}
@media screen and (min-width: 1200px) {
	.page-section {
	    padding: 60px 0;
	}
	#search-menu {
		display: block;
	    min-width: 300px;
        margin-left: 18px;
	}
	#search-menu a {
		display: none;
	}
	#search-menu form.search-form {
		display: block !important;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		display: inline-block;
		max-width: 100%;
	}
}
@media screen and (min-width: 1900px) {
	.page-section {
	    padding: 100px 0;
	}
	.secondary-menu-toggle {
		left: 80px;
	}
	.site-branding {
		margin-right: 37px;
	}
	#masthead {
	    padding: 0 85px 0 100px;
	}
	#comments {
		margin-top: 65px;
	}
	#comments ol.comment-list {
	    margin-bottom: 50px;
	}
	.singular-section .entry-content + .entry-meta {
	    margin-bottom: 43px;
	}
	#secondary .widget:not(:last-child) {
	    margin-bottom: 50px;
	}
	.right-sidebar #primary {
	    padding-right: 50px;
    }
    .left-sidebar #primary {
	    padding-left: 50px;
    }
	.footer-widgets-area.col-3 .hentry:not(:last-child),
	.footer-widgets-area.col-2 .hentry:nth-child(odd) {
		padding-right: 100px;
	}
	.boxed-layout #page {
	    max-width: 1600px;
	    width: 90%;
	}
	.frame-layout {
	    padding-left: 70px;
	    padding-right: 70px;
	    margin: 70px auto;
	}
}
@media screen and (max-width: 1200px) {
	#about-me span {
	    display: inline-block;
	}
	#about-me .featured-content span a {
	    font-size: 14px;
	    display: inline-block;
        line-height: 1.5;
	}
	.secondary-navigation ul.nav-menu > li > a {
	    padding: 51px 2px;
	}	
	#subscribe-email {
	    margin: 0;
	}
	.main-navigation ul.nav-menu > li > a {
	    padding: 20px 3px;
	}
	#recent .post-archive .hentry {
	    padding: 0 18px;
	    margin-bottom: 0;
	}
	#popular-post ul li h3 {
	    line-height: 20px;
	}
}
@media screen and (max-width: 1023px) {
	#masthead {
	    margin-bottom: 0;
	    position: relative;
	}
	#site-navigation ul#primary-menu,
	#secondary-navigation ul#secondary-menu {
	    display: none;
	}
	.site-title {
	    font-size: 32px;
	}
	.menu-open .primary-menu-toggle .icon-close {
	    display: block;
	    margin: auto;
	    width: 20px;
	    height: 20px;
	}
	.main-navigation a,
	.secondary-navigation a {
	    border-bottom: 1px solid #eee;
	}
	.main-navigation ul ul a,
	.secondary-navigation ul ul a {
	    width: 100%;
	}
	.main-navigation ul ul,
	.main-navigation ul ul ul,
	.secondary-navigation ul ul,
	.secondary-navigation ul ul ul {
	    box-shadow: none;
	    float: none;
	    position: relative;
	    top: 0;
	    left: 0;
	    margin-bottom: 0;
	    display: none;
	}
	.main-navigation ul.sub-menu li,
	.secondary-navigation ul.sub-menu li {
	    padding-right: 0;
	}
	.main-navigation .item-has-children > a:before,
	.secondary-navigation .menu-item-has-children > a:before {
	    content: "";
	    float: right;
	    position: relative;
	    right: 25px;
	    background-color: #ccc;
	    width: 1px;
	    height: 25px;
	}
	.main-navigation .menu-item-has-children > a:after,
	.secondary-navigation .menu-item-has-children > a:after {
	    padding-top: 3px;
	}
	.main-navigation ul.nav-menu > li > a,
	.main-navigation ul.sub-menu li a,
	.secondary-navigation ul.nav-menu > li > a,
	.secondary-navigation ul.sub-menu li a {
	    padding: 15px 15px 15px 25px;
	}
	.main-navigation ul.sub-menu li a,
	.secondary-navigation ul.sub-menu li a {
		padding-left: 50px;
	}
	.main-navigation ul.sub-menu ul li a,
	.secondary-navigation ul.sub-menu ul li a {
		padding-left: 75px;
	}
	.main-navigation ul.sub-menu ul ul li a,
	.secondary-navigation ul.sub-menu ul ul li a {
		padding-left: 100px;
	}
	.main-navigation ul.sub-menu ul ul ul li a,
	.secondary-navigation ul.sub-menu ul ul ul li a {
		padding-left: 125px;
	}
	.main-navigation .menu-item-has-children a svg,
	.secondary-navigation .menu-item-has-children a svg {
		display: none;
	}
	.main-navigation ul.sub-menu li a,
	.secondary-navigation ul.sub-menu li a {
		border-left: none;
	}
	.main-navigation ul.nav-menu,
	.secondary-navigation ul.nav-menu {
	    background-color: #fff;
	    border-top: 1px solid #eee;
	    position: absolute;
	    max-width: 400px;
	    top: 100%;
	    left: auto;
	    right: 0;
	    width: 100%;
    	z-index: 9;
	}
	.main-navigation,
	.secondary-navigation {
		position: static;
	}
	.main-navigation a,
	.secondary-navigation a {
		color: #333;
	}
	.main-navigation svg.icon-search,
	.main-navigation svg.icon-down,
	.secondary-navigation svg.icon-search,
	.secondary-navigation svg.icon-down {
		fill: #333;
	    margin-top: -5px;
	}
	.main-navigation ul.sub-menu,
	.secondary-navigation ul.sub-menu {
		border: none;
	}
	#masthead.site-header .main-navigation,
	.secondary-navigation {
	    margin-top: 0;
	    position: absolute;
	    z-index: 3;
	    max-width: 100%;
	    top: 100%;
	    left: auto;
	    right: 0;
	    width: 100%;
	}
	.main-navigation .search-menu a,
	.secondary-navigation .search-menu a {
	    display: none;
	}
	.main-navigation form.search-form input,
	.secondary-navigation form.search-form input {
	    background-color: #fff;
	    border: none;
	    min-height: 55px;
	}
	.main-navigation form.search-form button.search-submit,
	.secondary-navigation form.search-form button.search-submit {
		height: 59px;
	}
	.main-navigation form.search-form input,
	.secondary-navigation form.search-form input {
		padding-left: 25px;
	}
	.main-navigation .sub-menu svg,
	.secondary-navigation .sub-menu svg {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	    top: 28px;
	}
	.search-menu form.search-form input,
	.search-menu form.search-form button.search-submit {
	    height: 71px;
	}
	.menu-toggle,
	.secondary-menu-toggle {
	    background-color: #322d2d;
	}
	.menu-toggle {
	    position: absolute;
	    right: 0;
	    height: 90px;
        top: 0;
	}
	.main-navigation li,
	.secondary-navigation li {
	    display: block;
	    text-align: left;
	}
	.jetpack_subscription_widget {
	    padding: 15px 15px 15px 25px;
	}
	.jetpack_subscription_widget input[type="email"] {
	    max-width: 200px;
	}
	.jetpack_subscription_widget input[type="submit"] {
		    min-width: 150px;
	}
	#secondary .widget {
	    padding: 0px;
	}
	#secondary {
	    margin-top: 50px;
	}
}
@media screen and (max-width: 992px) {
	#recent .post-archive .hentry {
	    width: 50%;
        margin-bottom: 30px;
	}
   	#site-menu {
	    padding: 10px 0;
	}
	#recent img {
	    width: 100%;
	}
	#about-me .hentry {
	    width: 33.33%;
	    margin-bottom: 30px;
	}
	#popular-post .hentry:first-child {
	    width: 100%;
	    padding-right: 0;
        margin-bottom: 30px;
	}
	#popular-post .hentry:last-child {
	    width: 100%;
	    padding-left: 0px;
	}
	#photography .entry-title {
	    font-size: 20px;
	}
	#life-style .post-archive .hentry {
	    padding: 0 10px;
	    width: 50%;
	}
	.page-section {
	    padding: 50px 0;
	}
}
@media screen and (max-width: 767px) {
	#masthead.site-header .main-navigation ul.nav-menu {
		max-width: 100%;
	}
	.comment-navigation .nav-previous, 
	.posts-navigation .nav-previous, 
	.post-navigation .nav-previous,
	.comment-navigation .nav-next, 
	.posts-navigation .nav-next, 
	.post-navigation .nav-next {
		width: 100%;
    	margin: 15px 0;
	}
	.post-navigation span.previous-article b, 
	.post-navigations span.previous-article b, 
	.post-navigation span.next-article b, 
	.post-navigations span.next-article b {
		font-size: 18px;
	}
	.comment-wrap {
	    margin-left: 0;
	}
	#commentform p.comment-form-comment,
	#commentform p.form-submit {
		margin-top: 21px;
	}
	nav.navigation.pagination,
	#secondary {
		margin-top: 20px;
	}
	.comments-title, 
	#reply-title {
	    font-size: 26px;
	}
	#comments {
	    margin-top: 40px;
	}
	#about-me .hentry {
	    width: 100%;
	    margin-bottom: 30px;
	}
	#about-me .hentry:last-child {
	    margin-bottom: 0;
	}
	#recent .post-archive .hentry {
	    width: 100%;
	    margin-bottom: 30px;
	}
	#life-style .post-archive .hentry {
	    float: left;
	}
	.section-content.col-6 .hentry {
	    width: 50%;
	    float: left;
	}
	#life-style .post-archive .entry-container {
	    padding: 30px 20px;
	}
	#life-style .entry-container .entry-title {
	    font-size: 20px;
	}
	#popular-post .entry-title {
	    font-size: 22px;
	}
	#hero-banner {
	    padding: 100px 0;
	}
	#hero-banner .entry-title {
	    font-size: 42px;
	}
}
@media screen and (max-width: 567px) {
	#photography article {
	    display: block;
	}
	#photography article.has-post-thumbnail .featured-image {
	    width: 100%;
	    float: none;
	    display: block;
	    position: initial;
	    top: 0;
	    left: 0;
	    height: 0;
	    padding: 190px 0;
	}
	#photography article.has-post-thumbnail .entry-container {
	    width: 100%;
	    padding: 20px;
	    display: table-cell;
	    float: none;
	}
	#photography article.has-post-thumbnail .entry-container:before {
	   display: none;
	}
	#photography .entry-container .more-link {
	    margin-top: 20px;
	}
	#life-style .post-archive .hentry {
	    padding: 0 10px;
	    width: 100%;
	}
	#life-style .post-archive .hentry img {
	    width: 100%;
	}
	.more-link {
	    float: none;
	    margin-top: 30px;
	    text-align: left;
	    display: inline-block;
	}
	.header-wrapper .section-header {
	    float: none;
	    text-align: left;
	}
	.post-archive {
	    margin-top: 30px;
	}
	.pagination .page-numbers.prev, 
	.pagination .page-numbers.next {
		top: 0;
	}
	.pagination .prev.page-numbers:before, 
	.pagination .next.page-numbers:before {
		width: 35px;
		height: 10px;
	}
	.pagination .page-numbers.prev, 
	.pagination .page-numbers.next {
		margin-left: 0;
		margin-right: 0;
	}
	.comment-content {
		margin-left: 0;
	    background-color: #fff;
	    margin-top: 25px;
	    padding: 15px 20px;
	}
	.reply {
		padding-left: 0;
	}
	#comments ol.children {
	    margin-left: 25px;
	}
	.comment-meta .fn {
	    margin-left: 0;
	    margin-top: 10px;
	}
}

@media screen and (max-width: 440px) {
	.btn {
	    min-width: 200px;
	}
	.section-title {
	    font-size: 32px;
	}
	#about-me span {
	    font-size: 14px;
	}
	#hero-banner .entry-title {
	    font-size: 26px;
	}
}